#console {
	z-index: 10000;
	font-size: 12px;
	font-family: sans-serif;
	position: relative;
}

#consoleLeftMenu, #consoleRightMenu {
	background: rgb(10, 10, 10);
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	z-index: 10001;
	right:75;
	top: 10;
	width: 400px;
	position: absolute;
}

#consoleRightMenu {
	right: 10px;
	width: 48px;
	height: 400px;
	padding: 5px;
}



#consoleRightMenu li {
	list-style: none;
	width: 100%;
	height: 48px;
	margin-bottom: 4px;
	background: rgb(15, 15, 15);
	color:rgb(200, 200, 220);
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .1), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#consoleRightMenu li.active, #consoleRightMenu li:hover {
	background: rgb(20, 20, 20);
	color:rgb(255, 255, 255);
	box-shadow: inset -1px -1px 2px rgba(255, 255, 255, .1), inset 1px 1px 1px rgba(0, 0, 0, 1);	
}

#consoleLeftMenu .console-panel span.object-name,
#consoleLeftMenu .console-container li.button {

	  -webkit-user-select: none;
	   -khtml-user-select: none;
		 -moz-user-select: none;
		   -o-user-select: none;
			  user-select: none; 
}

#consoleLeftMenu a, #consoleLeftMenu a:hover, #consoleLeftMenu a:visited, #consoleLeftMenu a:active,
#consoleLeftMenu li.button span.button {
	color: white;
	text-decoration: none;
	outline: 0;
	line-height: 20px;
	display: block;
	cursor: pointer;
}

#consoleLeftMenu input {
	outline: 0;
}


.console-panel span.object-name{
	margin-bottom: 3px;
	background: rgb(25, 25, 25);
	color:rgb(200, 200, 220);
	font-size: 12px;
	display: block;
	padding: 7px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1);
}

.console-panel:first-child {
	margin-top: 10px;
}

.console-panel span.object-name:hover {
	color:white;
}


#consoleLeftMenu .console-container.close {
	display: none;
}

#consoleLeftMenu .console-container li.input,
#consoleLeftMenu .console-container li.input-disabled,
#consoleLeftMenu .console-container li.button {
	margin-left: 2px;
	width: 94%;
	height: 23px;
	margin-bottom:1px;
	padding: 3px 3px 3px 8px;
	display: block;
	list-style: none;
	border-left: 4px solid rgb(151, 184, 57);
	border-bottom: 1px solid rgb(30, 30, 30)
}



#consoleLeftMenu .console-container li.input-disabled {
	border-left: 4px solid rgb(148, 154, 133);
;
}

#consoleLeftMenu .console-container li.button {
	border-left: 4px solid rgb(58, 82, 164);
}

#consoleLeftMenu .console-container li:hover, #consoleLeftMenu li.button:hover {
	background: rgb(20, 20, 20);
}

#consoleLeftMenu .console-container li span.property-name {
	cursor: default;
	color:white;
	font-size: 12px;
	width: 40%;
	float:left;
	line-height: 23px;
}

#consoleLeftMenu .console-container li.button span.property-name {
	width: 100%;
}

#consoleLeftMenu .console-container li.button span.property-name a {
	display: block;
	width: 100%;
}

#consoleLeftMenu .console-container li .property-value {
	float:left;
	width: 60%;
}

#consoleLeftMenu .console-container li .property-value input {
	margin-left: 5px;
	padding: 3px;
	width: 40%;
	float:right;
	border: none;
	background: rgb(20, 20, 20);
	color: rgb(151, 184, 57);
}

#consoleLeftMenu .console-container li.input-disabled .property-value input {
	color: rgb(148, 154, 133);
	/*color: rgb(109, 132, 46);*/
	cursor: default;
}

#consoleLeftMenu .console-container li:hover .property-value input {
	background: rgb(40, 40, 40);
}






/******************************************
	Console Tabs
*******************************************/
#consoleLeftMenu .console-tabs .console-tabs-header {
	margin-left: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 24px;
	border-bottom: 1px solid rgb(30, 30, 30); 
}

#consoleLeftMenu .console-tabs-header li {
	margin-right: -3px;
	list-style: none;
	color:white;
	display: inline;
	padding: 6px 14px;
	line-height: 22px;
	border: none;
	background: rgb(15, 15, 15);
	color:rgb(200, 200, 220);
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .1), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#consoleLeftMenu .console-tabs-header li.active,
#consoleLeftMenu .console-tabs-header li:hover {
	background: rgb(30, 30, 30);
	color:rgb(255, 255, 255);
	box-shadow: inset -1px -1px 2px rgba(255, 255, 255, .1);
}

#consoleLeftMenu .console-tabs-content li{
	list-style: none;
	display: inline;
}